
$default: #8d8d8d;

html,
body{
    height: 100%;
}

body{
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    color: $default;
}

.main{
    flex-grow: 1;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}